@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
body {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 56px auto 72px;
  grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
}
header {
  width: 100%;
  height: 25px;
  text-align: left;
  margin: 0;
  padding: 20px;
  display: flex;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  border: solid 1.5px #eeeeee;
  grid-area: header;
}
header .main_title a {
  color: #3c3b3b;
  font-size: 14px;
  font-weight: bold;
}
header a {
  text-decoration: none;
  font-size: 13px;
  color: #828282;
  margin-right: 30px;
  border-right: 1px solid #828282;
}
header .menu a {
  visibility: hidden;
  overflow: hidden;
  width: 1em;
}
header .menu a::before {
  visibility: visible;
}
header .menu a::before {
  visibility: visible;
}
header .main {
  margin-left: auto;
}

main {
  padding: 4%;

  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
main .post {
  background-color: white;
  align-items: right;
}
.post {
  background-color: white;
  border-left: solid 20px white;
  border-right: solid 20px white;
  border-top: solid 40px white;
  border-bottom: solid 40px white;
  display: inline-block;
  margin-top: 50px;
  display: flex-start;
}

main .post .header .title a {
  text-transform: uppercase;
  text-decoration: none;
  size: 28px;
  letter-spacing: 9px;
  font-weight: bold;
  color: #3c3b3b;
}
main .post .header .title p {
  letter-spacing: 3.92px;
  color: #8e8e8e;
  text-transform: uppercase;
}
.meta {
  text-align: right;
}
.meta .published {
  text-transform: uppercase;
  color: #3c3b3b;
  font-weight: bold;
}
.meta a {
  color: #8e8e8e;

  text-transform: uppercase;
}
.meta img {
  border-radius: 50%;
}
main .post p {
  color: #3c3b3b;
  letter-spacing: 1.3px;
}
main .actions a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.9px;
  font-weight: bold;
  color: #3c3b3b;
  border: solid 1px #eeeeee;
  margin-top: 10px;
}
main .post .footer .actions a:hover {
  color: red;
}
main .post .footer .stats a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #808080;
}
aside {
  padding: 14%;

  grid-area: aside;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
}

aside .mini-posts .mini-post {
  background-color: white;
  margin-top: 10px;
}

aside .mini-posts .mini-post .image img {
  width: 100%;
}
aside .mini-posts .header .published {
  text-decoration: none;
  color: #808080;
  size: 12px;
  text-transform: uppercase;
}
aside .mini-posts .header a {
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3c3b3b;
  font-weight: bold;
}
aside .mini-posts .author img {
  border-radius: 50%;
}
aside .description {
  align-items: left;
  text-align: justify;
  padding-top: 10px;
}
aside .description div {
  padding-top: 10px;
}
aside .description a {
  text-decoration: none;
  text-transform: uppercase;
  color: #3c3b3b;
  letter-spacing: 3px;
  size: 14px;
}
aside .description .published {
  text-decoration: none;
  text-transform: uppercase;
  color: #808080;
  size: 12px;
  letter-spacing: 1.4px;
}
.secondary_title {
  text-transform: uppercase;
  color: #3c3b3b;
  font-weight: bold;
}
.secondary_title a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bold;
  font-size: 30px;
  color: #3c3b3b;
  text-align: left;
}

footer {
  box-sizing: border-box;
}
footer .secondary_title {
  size: 16px;
  letter-spacing: 3.8px;
  color: #3c3b3b;
}
.post .footer .actions a {
  padding: 10px;
}
footer .stats {
  margin-top: 5px;
}
footer p {
  color: #808080;
}
footer .button {
  size: 14px;
  color: #3c3b3b;
  border: solid 1px #e1e1e1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3.9px;
  padding: 20px;
}
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto 50px;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    flex-direction: row;
  }
  header .links {
    visibility: hidden;
  }
  .post > a.image img {
    width: 100%;
  }
  main .post {
    width: 95%;
    text-align: center;
  }

  aside {
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    align-content: stretch;
  }
}
@media (max-width: 375px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto 50px;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    flex-direction: row;
  }
  header .links {
    visibility: hidden;
  }
  .post > a.image img {
    width: 100%;
  }
  main .post {
    width: 76%;
  }

  aside {
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    text-align: left;
  }
}
